body{
	margin-top: 60px;
}
.container{
	background: rgba(128, 128, 128, .75);
	border-radius: 5%;
}
h1, h2{
	text-align: center;
}
.thin-blue-border {
		border: 5px solid #337ab7;
    	border-radius: 50%;
}
ul {
	list-style-type: none;
}
.thumbnail{
	background-color: transparent;
	border: 0;
}
